# Chặn các file nén tạm của Labtainer
*.tar.gz
.empty

# Chặn các file sinh ra khi sinh viên làm bài
stego-dct-matrix-quantization/stego.png
stego-dct-matrix-quantization/.bash_history

# Chặn cache của Python nếu có
__pycache__/
*.pyc
