    GLOBAL_SETTINGS
    LAB_MASTER_SEED stego-dct-matrix-quantization_student_master_seed
    GRADE_CONTAINER stego-dct-matrix-quantization
    COLLECT_DOCS NO
NETWORK MATRIX_NET
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER stego-dct-matrix-quantization
     USER ubuntu
     X11 YES
     MATRIX_NET 172.20.0.2
